// sass --watch css:build

$font-classic: 'Calibre';

body {
   font-family: $font-classic;
}

.container {
   max-width: 1089px;
   margin: 0 auto;
}

.title {
   font-size: 30px;
   line-height: 150%;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #0A0A14;
   font-weight: 500;

   @media (max-width: 860px) {
      font-size: 20px;
   }

   @media (max-width: 500px) {
      font-size: 18px;
   }
}

.link-arrow {
   text-decoration: none;
   color: #000;
   font-size: 16px;
   line-height: 19px;
   letter-spacing: 0.05em;
   font-weight: 500;

   img {
      position: relative;
      top: -5px;
   }
}

//---------------------------------------HEADER---------------------------------------
.header {
   .container {
      position: relative;
   }

   // .header__img

   &__img {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      transform: translate(-85%, -89%);
   }

   // .header__block

   &__block {
      z-index: 3;
      position: relative;
      display: flex;
      justify-content: space-between;
   }

   &__circle {
      &::before {
         content: '';
         position: absolute;
         top: 8%;
         left: 31%;
         width: 100px;
         height: 100px;
         background-color: #D9D9D9;
         border-radius: 100%;
      }
   }

   // .header__text

   &__text {
      display: flex;
      flex-direction: column;
   }

   // .header__hi

   &__hi {
      margin-bottom: 14px;
   }

   // .header__title

   &__title {
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 0.01em;
      max-width: 695px;
   }

   &__block-color {
      position: relative;
   }

   &__color::before {
      content: '';
      background-color: #E92577;
      position: absolute;
      width: 89%;
      height: 33px;
      bottom: 0;
      left: 0;
      z-index: 2;
   }

   &__block-text {
      z-index: 3;
      position: relative;
   }

   // .header__person

   &__person {
      &::before {
         content: '';
         position: absolute;
         top: -10px;
         left: -10px;
         height: 100%;
         width: 100%;
         z-index: -1;
         background-color: #E92577;
         border-radius: 5px;
      }

      position: relative;

   }

   &__subtitle {
      p {

         span:nth-child(1),
         span:nth-child(3) {
            color: #AF0C48;
            font-weight: 700;
         }

         span:nth-child(2) {
            color: #AF0C48;
         }
      }

      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      max-width: 504px;
      margin-top: 70px;
   }

   @media (max-width: 1000px) {
      .header {
         &__img {
            transform: translate(0, -90%);
         }

         &__title {
            font-size: 40px;
            line-height: 110%;
            max-width: 500px;
         }

         &__circle {
            display: none;
         }

         &__color {
            &::before {
               height: 20px;
               bottom: 5px;
            }
         }
      }

   }

   @media (max-width: 830px) {
      .header {
         &__person {
            display: flex;
            justify-content: flex-end;
            position: relative;

            img {
               width: 190px;
               height: 190px;
               position: absolute;
            }

            &::before {
               left: auto;
               width: 190px;
               height: 190px;
               top: -10px;
               right: 10px;
            }
         }

         &__subtitle {
            max-width: 400px;
         }

         &__title {
            font-size: 30px;
            line-height: 110%;
            max-width: 400px;
         }

         &__color {
            &::before {
               height: 14px;
               bottom: 5px;
            }
         }

         &__hi {
            img {
               width: 15%;
            }
         }
      }

   }

   @media (max-width: 660px) {
      .header {
         &__block {
            flex-flow: wrap;
            flex-direction: column;
         }

         &__text {
            order: 1;
            margin: 0 auto;
         }

         &__person {
            display: flex;
            justify-content: center;
            margin: 0 auto 50px auto;

            img {
               position: relative;
            }
         }

         &__subtitle {
            margin-top: 30px;
         }
      }

      padding: 80px 30px 0 30px;
   }

   padding: 162px 30px 0 30px;
}

//---------------------------------------/HEADER---------------------------------------
//---------------------------------------CASES---------------------------------------

.cases {

   // .cases__block
   &__wrap {
      display: flex;
      justify-content: space-between;
   }

   &__block {
      width: 502px;
      height: 648px;
      padding: 40px;
      background-color: #DDEEFE;

      &:nth-child(1) {
         background-image: url("../../img/case2.svg");
         background-position: bottom;
         background-size: 85%;
         background-repeat: no-repeat;
         margin-right: 20px;
      }

      &:nth-child(2) {
         background-image: url("../../img/case1.svg");
         background-position: bottom;
         background-size: 85%;
         background-repeat: no-repeat;
         background-color: #D9F6F1;
      }
   }

   // .cases__title

   &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 29px;
      line-height: 39px;
      letter-spacing: 0.05em;
   }

   // .cases__subtitle

   &__subtitle {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      margin: 15px 0 30px 0;
   }

   // .cases__text

   &__text {
      &::before {
         content: '';
         position: absolute;
         background-image: url("../../img/arrow_right.svg");
         background-position: 0 0;
         background-size: cover;
         background-repeat: no-repeat;
         width: 24px;
         height: 24px;
         top: -5px;
         right: -28px;
      }

      a {
         text-decoration: none;
         color: #000;
      }

      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
      font-weight: 700;
      position: relative;
      display: inline;
   }

   @media (max-width: 1000px) {
      .cases {
         &__block {
            height: 500px;
            background-size: 68%;
         }
      }
   }

   @media (max-width: 830px) {
      padding: 80px 30px 80px 30px;
   }

   @media (max-width: 660px) {
      .cases {
         &__block {
            height: auto;
            background-image: none;

            &:nth-child(1) {
               margin: 0 0 30px 0;
            }

            width: auto;
         }

         &__wrap {
            flex-direction: column;
            align-items: center;
         }
      }
   }

   padding: 140px 30px 200px 30px;
}

//---------------------------------------/CASES---------------------------------------
//---------------------------------------FREELANCE---------------------------------------

.freelance {
   // .freelance__block

   &__block {
      display: flex;
   }

   // .freelance__descr

   &__descr {
      padding: 20px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.09);
      border-radius: 3px;
      background-color: #fff;
      width: 469px;

      @media (max-width: 540px) {
         max-width: 300px;
      }
   }

   @media (max-width: 1300px) {
      &__image {
         width: 600px;
      }
   }

   @media (max-width: 1050px) {
      &__image {
         width: 430px;
      }
   }

   @media (max-width: 860px) {
      &__image {
         display: none;
      }
   }

   padding: 0 30px 100px 30px;
}

.f-descr {
   &-wrap {
      position: relative;
   }

   // .f-descr__title

   &__title {
      span {
         font-style: normal;
         font-weight: 700;
         font-size: 29px;
         line-height: 39px;
         letter-spacing: 0.05em;
      }

      font-family: 'Playfair Display',
      $font-classic;
      font-size: 20px;
      line-height: 27px;
   }

   // .f-descr__text

   &__text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      margin: 20px 0;


   }

   // .f-descr__client

   &__client {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;

      span {
         margin-right: 5px;
      }
   }

   @media (max-width: 860px) {
      &-wrap {
         margin: 0 auto;
      }

      position: relative;
      top: 0;
      left: 0;
   }

   position: absolute;
   left: -85px;
   top: 46px;
}

//---------------------------------------/FREELANCE---------------------------------------
//---------------------------------------WRITING---------------------------------------

.writing {

   // .writing__title

   &__title {
      font-family: 'Playfair Display', $font-classic;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 67px;
      letter-spacing: 0.05em;
      margin-bottom: 29px;

      @media (max-width: 800px) {
         font-size: 40px;
      }
   }

   padding: 0 30px 100px 30px;

}

.w-info {

   // .w-info__img

   &__img {
      img {
         border-radius: 5px;
         width: 182px;
         height: 182px;
      }

      &::before {
         content: '';
         position: absolute;
         left: -10px;
         bottom: -16px;
         height: 100%;
         width: 182px;
         z-index: -1;
         background: linear-gradient(318.78deg, #B21AA1 30.98%, #E92577 63.02%, #E92577 90.7%);
         border-radius: 5px;
      }

      &::after {
         content: '';
         position: absolute;
         left: -20px;
         top: -20px;
         height: 100%;
         width: 182px;
         z-index: -2;
         background: #F9F9F9;
         border-radius: 3px;
      }

      @media (max-width: 600px) {
         margin: 0 auto 30px auto;
      }

      margin-right: 20px;
      position: relative;
      height: fit-content;
      margin-top: 15px;
   }

   // .w-info__part

   &__part {
      max-width: 565px;
   }

   // .w-info__title

   &__title {
      font-family: 'Playfair Display', $font-classic;
      font-style: normal;
      font-weight: 700;
      font-size: 29px;
      line-height: 39px;
      letter-spacing: 0.05em;
      font-weight: 500;
   }

   // .w-info__text

   &__text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: #0A0A14;
      margin: 6px 0 15px 0;
      max-width: 490px;
   }

   // .w-info__descr

   &__descr {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #7D7D8D;
   }

   // .w-info__list

   &__list {
      margin: 10px 0 15px 0;
   }

   // .w-info__item

   &__item {
      &::before {
         content: '';
         width: 9px;
         height: 9px;
         background: linear-gradient(318.78deg, #B21AA1 30.98%, #E92577 63.02%, #E92577 90.7%);
         border-radius: 5px;
         position: absolute;
         left: -19px;
         top: 4px;
      }

      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: #0A0A14;
      position: relative;
      margin-left: 20px;
   }

   @media (max-width: 600px) {
      flex-direction: column;
   }

   display: flex;
}

.w-blog {

   &::before {
      content: '';
      position: absolute;
      background-image: url("../../img/writing_bg2.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      width: 172px;
      height: 164px;
      bottom: 20px;
      left: -73%;

      @media (max-width: 1000px) {
         display: none;
      }
   }

   &::after {
      content: '';
      position: absolute;
      background-image: url("../../img/writing_bg1.svg");
      background-position: 0 0;
      background-size: cover;
      background-repeat: no-repeat;
      width: 172px;
      height: 164px;
      bottom: 100%;
      right: -50%;

      @media (max-width: 1000px) {
         display: none;
      }
   }

   // .w-blog__title

   &__title {
      font-family: 'Playfair Display', $font-classic;
      font-style: normal;
      font-weight: 700;
      font-size: 29px;
      line-height: 39px;
      letter-spacing: 0.05em;
   }

   // .w-blog__descr

   &__descr {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.05em;
      color: #0A0A14;
      margin: 10px 0 40px 0;
   }

   max-width: 490px;
   margin: 50px auto 0 auto;
   position: relative;
}

//---------------------------------------/WRITING---------------------------------------
//---------------------------------------PRODUCT---------------------------------------

.product {

   // .product__title

   &__title {
      font-size: 50px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #0A0A14;
      max-width: 540px;
      font-weight: 700;
      margin-bottom: 20px;

      @media (max-width: 700px) {
         font-size: 35px;
         line-height: 110%;
      }
   }

   // .product__email

   &__email {
      a {
         font-size: 20px;
         line-height: 24px;
         letter-spacing: 0.05em;
         text-decoration-line: underline;
         color: #AF0C48;
         margin-left: 5px;
      }

      display: flex;
   }

   padding: 40px 30px 84px 30px;
}

//---------------------------------------/PRODUCT---------------------------------------
//---------------------------------------FOOTER---------------------------------------

.footer {

   &__wrap {
      display: flex;
      justify-content: space-between;
   }

   // .footer__item
   &__info {
      display: flex;
   }

   // .footer__email

   &__email {
      a {
         font-size: 18px;
         line-height: 150%;
         letter-spacing: 0.01em;
         color: #0A0A14;
      }
   }

   // .footer__buy

   &__buy {
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: #0A0A14;
   }

   // .footer__links

   &__links {
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0.01em;
   }

   // .footer__list
   &__list {
      display: flex;
   }

   // .footer__item
   &__item:not(:last-child) {
      margin-right: 20px;
   }

   &__item:nth-child(1) {
      .footer__link {
         color: #0A0A14;
      }

   }

   &__item:nth-child(2) {
      .footer__link {
         color: #EA4C89;
      }
   }

   &__item:nth-child(3) {
      .footer__link {
         color: #00AB6B;
      }
   }

   &__item:nth-child(4) {
      .footer__link {
         color: #1769FF;
      }
   }

   &__item:nth-child(5) {
      .footer__link {
         color: #0077B5;
      }
   }

   @media (max-width: 750px) {
      .footer__list {
         flex-direction: column;
      }

      padding: 0 30px 50px 30px;

   }

   @media (max-width: 450px) {
      .footer__wrap {
         flex-direction: column;
      }

   }

   padding: 0 30px 100px 30px;
}

//---------------------------------------/FOOTER---------------------------------------